

  
   @section app{

    <script>
        System.import('migracion.app').catch(function (err) { console.error(err); });
    </script>  

   }
   


<body>
    <ruv-migracion>Cargando aplicación...</ruv-migracion>
</body>


